# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
backend/venv/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints/

# Model artifacts (optional)
# Uncomment if you DON'T want to push the trained model
# app/models/*.pkl

# Test cache
.pytest_cache/

# Coverage
.coverage
htmlcov/
backend/app/datasets/BRFSS2024.csv