# ==========================================
# Node.js / Next.js
# ==========================================

# Dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Next.js
/.next/
/out/

# Production
/build

# Coverage
/coverage

# TypeScript
*.tsbuildinfo
next-env.d.ts

# ==========================================
# Python
# ==========================================

# Virtual Environment
.venv/
python_ai/.venv/

# Python cache
__pycache__/
python_ai/__pycache__/

# Compiled Python files
*.py[cod]
*$py.class

# Distribution / Packaging
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints/

# ==========================================
# Environment Variables
# ==========================================

.env
.env.*
!.env.example

# ==========================================
# Logs
# ==========================================

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log

# ==========================================
# IDE
# ==========================================

.vscode/
.idea/

# ==========================================
# Operating System
# ==========================================

.DS_Store
Thumbs.db



# ==========================================
# Miscellaneous
# ==========================================

*.pem


# ==========================================
# Custom
# ==========================================
#datasets
python_ai/datasets/90_disease_dataset.csv
python_ai/datasets/symptom_Description.csv
python_ai/datasets/symptom_precaution.csv
# Model files
python_ai/models/catboost.pkl
python_ai/models/feature_columns.pkl
python_ai/models/label_encoder.pkl