# Virtual Environments
venv/
.venv/
.venv-1/
.venv-2/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# ML artifacts (place locally; do not commit large binaries)
*.pkl
!app/ml/.gitkeep

app/ml/clean_190k_dataset.csv
app/ml/encoded__dataset.csv


# VS Code
.vscode/

# JetBrains IDEs
.idea/
